/* Container que centraliza o conteúdo na tela */
.main-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Título da seção */
.section-title {
    margin-bottom: 24px;
    color: #333;
    font-size: 1.5rem;
}

/* A Grade (Grid) onde ficam os cards */
.cards-grid {
    display: flex;
    gap: 25px;
    flex-wrap: wrap; /* Se faltar espaço, joga o card pra linha de baixo */
    justify-content: flex-start; /*centralizar os cards se sobrar espaço */
}